<igx-grid [data]="northwindCustomers" primaryKey="customerID" displayDensity="cosy" rowSelection="single" cellSelection="single" [rowEditable]="true" [moving]="true" columnSelection="multiple" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-grid-toolbar>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-pinning>true</igx-grid-toolbar-pinning>
      <igx-grid-toolbar-hiding>true</igx-grid-toolbar-hiding>
      <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
      <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
    </igx-grid-toolbar-actions>
    <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
  </igx-grid-toolbar>
  <igx-column header="customerID" field="customerID" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="customerID"></igx-column>
  <igx-column header="companyName" field="companyName" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="companyName"></igx-column>
  <igx-column header="contactName" field="contactName" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="contactName"></igx-column>
  <igx-column header="contactTitle" field="contactTitle" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="contactTitle"></igx-column>
  <igx-column header="street" field="address.street" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.street"></igx-column>
  <igx-column header="city" field="address.city" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.city"></igx-column>
  <igx-column header="region" field="address.region" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.region"></igx-column>
  <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.postalCode"></igx-column>
  <igx-column header="country" field="address.country" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.country"></igx-column>
  <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" [resizable]="true" [groupable]="true" [editable]="true" [hasSummary]="true" title="address.phone"></igx-column>
  <igx-paginator [perPage]="50"></igx-paginator>
</igx-grid>
